* {
  text-decoration: none;
}

body {
  background-color: rgba(246, 247, 248, 0.5) !important;
}

a {
  color: black;
}

.category-card {
  margin: 0px;
}

.content {
  padding: 0px 20px 20px 20px;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.place-order-btn {
  float: right;
  margin-bottom: 14px;
}

.order-container {
  border: 1px solid black;
  padding: 16px;
  margin-bottom: 16px;
  max-width: 70%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.card-total-price {
  text-align: right;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: bold;
}

.card-container {
  margin-bottom: 10px;
  padding: 10px;
}

@media (max-width: 1299px) {
  .order-container {
    max-width: 100%;
  }
}

@media (max-width: 539px) {
  .category-card {
    margin-left: 60px;
    text-align: center;
  }

  .img-wrapper img {
    width: 400px;
    height: 400px;
  }
}
